.container {
  position: relative;
  margin-top: 50px;
  width: 500px;
  height: 300px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.3s ease;
}



img {

  width: 500px;
  height: 300px;
  left: 0;
}




.button  {
  position: absolute;
  width: 500px;
  left:0;
  top:180px;

  opacity: 0;
  transition: opacity .35s ease;
}

.button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;

}

.container:hover .button {
  opacity: 1;
}
